html {
  height: 100%;
}
body{
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  color: #393939;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: #ffedd6;
  margin: 0;
}
.wrap {
  overflow: hidden;
}
.container{
  max-width: 1140px;
}
img, iframe {
  max-width:          100%;

}
.img--decor{
  object-fit: contain;
  padding: 0;
  position: absolute;
}
.section, section{
  position: relative;
  padding: 60px 0;

}
.section{
  &--bg{
    background-color: #ffedd6;
    &-pattern{
      background-image: url(../../img/pattern.png);
      background-repeat: repeat;
      background-size: cover;
      border-top: 8px solid #ffedd6;
      box-shadow: 0px -4px 8px rgba(69, 44, 31, 0.02);

    }
  }
  &--overlap{
    padding-bottom: 108px;
    margin-top: -33px;
    z-index: 2;
  }
  & + .section--overlap{

  }
  &-title{
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.47;
    text-align: center;
  }
}
.border--rounded{
  border-radius: 40px 40px 0 0;
}
.btn{
  filter: drop-shadow(0px 4px 20px rgba(69, 44, 31, 0.64));
  text-shadow: 0 2px 3px #000000;
  color: #ffffff;
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.09;
  text-align: center;
  background-image: url(../../img/btn_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border-radius: 18px;
  padding: 25px 61px 26px;
  &--sm{
    font-size: 36px;
  }
}
.text-large{
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.57;
  text-align: center;
}


.socials{

  &__link {
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child){
      margin-right: 56px;
    }
    & .svg{
      max-width: 100%;
      max-height: 100%;
    }
  }
}
