.cta{
  background-image: url(../../img/cta_back.jpg);
  background-color: #3594ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 79px;
  &__gif{
      object-fit: cover;
    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.639));
    border-radius: 40px;
    width: 100%;
    height: auto;
  }
  &__icon{
    width: 120px;
    height: 120px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.64));
    border-radius: 12px;
    object-fit: cover;
    display: block;
  }
  &__info{

  }
  &__title{
    margin-top: 18px;
  }
  &__text{
    font-size: 24px;
  }
  &__btn{
    width: 100%;
  }
}