.features{
  &__img{
    filter: drop-shadow(5px 10px 30px rgba(69, 44, 31, 0.4));
    width: 269px;
    height: 430px;
    object-fit: contain;
    display: inline-block;
  }
}
.feature{
  margin-top: 40px;
  &:not(:last-child){
    margin-bottom: 40px;
  }
  &__icon {
    width: 60px;
    max-width: 57px;
    height: 60px;
    object-fit: contain;
    & + .feature__text{
      margin-left: 33px;
    }
  }
  &__text{
    font-weight: 500;
  }

}