.footer{
  background-image: url(../../img/footer_back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  & .container{
    z-index: 2;
    position: relative;
  }
&:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(100, 39, 15, 0) 0%, rgba(100, 39, 15, 0.12) 23.96%, #64270F 100%);
  width: 100%;
  height: 160px;
  z-index: 1;
}
  & *{
    color: #fff;
  }
  &__title{
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 20px;
  }
  &__copyright{
    margin-top: 108px;
  }
  &__policy{
    margin-top: 14px;
  }
  &__link{
    &:not(:last-child){
      margin-right: 25px;
    }
  }
}