.header{
  position: relative;
  background-size: cover;
  background-position: top center;
  background-image: url(../../img/hero_optim.jpg);
  background-color: #a0d1e5;
  padding: 55px 0 85px;
  overflow: hidden;
  &__btn{
    font-size: 44px;
    min-width: 414px;
    margin-top: 85px;
  }
  &__title{
    text-shadow: 0 2px 2px #000000;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.1;
    text-align: center;
    margin-top: 115px;
  }
  &__img-character {
    width: 362px;
    height: 531px;
    left: 6.05%;
    bottom: 20px;
    object-position: bottom;
    -webkit-filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.64));
    filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.64));
  }
  &__img-tiles {
    width: 394px;
    height: 284px;
    right: 3.25%;
    bottom: 122px;
    object-position: center;
  }
}

.logo {
  display: block;
  width: 428px;
  height: 215px;
  &__image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-position: 50% 50%;
    object-position:    50% 50%;

  }
}