.intro {
  &__text {
  }
  &__img-balloon{
    width: 192px;
    height: 291px;
    filter: drop-shadow(0px 4px 16px rgba(69, 44, 31, 0.64));
    object-position: bottom center;
    left: -14.5%;
    top: 5.6%;
    &-cat{
      width: 185px;
      height: 243px;
      -o-object-position: bottom center;
      object-position: bottom center;
      right: -14.95%;
      bottom: -3.65%;
      filter: drop-shadow(0px 4px 8px rgba(69, 44, 31, 0.64));
    }
  }
}
.multimedia {
  position: relative;
  width: 877px;
  height: 526px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  background-image: url(../../img/wood_back.png);
  background-repeat: no-repeat;
  background-size: 100%;
  & iframe,
  &__link{
    margin-top: -20px;
    width: 83.7%;
    height: 78.75%;
  }
}