.reviews{

}
.review{
  &__portrait{
    border-radius: 50%;
  }
  &__head{

  }
  &__name{
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.27;
    text-align: left;
  }
  &__text{
    background-color: #fff;
    border-radius: 40px;
    border-bottom-left-radius: unset;
    padding: 18px 40px;
    & p:only-of-type{
      margin-bottom: 0;
    }
    & p:last-child{
      margin-bottom: 0;
    }
  }
}